.container {
  height: 125px;
  background-color: #EC755D;
  border-radius: 20px;
  flex: 1;
  position: relative;
  color: white;

  & > #balanceTitle {
    position: absolute;
    left: 32px;
    top: 27px;
    margin: 0;
    padding: 0;
  }

  & > #balanceValue {
    position: absolute;
    left: 32px;
    top: 58px;
    margin: 0;
    padding: 0;
    color: #FFFBF6;
  }

  & > .logo {
    width: 72px;
    height: 48px;
    position: absolute;
    left: 429px;
    top: 39px;

    & > .circle {
      height: 100%;
      aspect-ratio: 1;
      border-radius: 50%;

      &.white {
        box-sizing: border-box;
        border: solid 2px white;
        position: relative;
        z-index: 1;
      }

      &.black {
        background-color: #382314;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
      }
    }
  }
}
