@desktop: ~"only screen and (min-width: 540px)";

.container {

  background-color: #EC755D;
  position: relative;
  color: white;
  height: 97px;
  border-radius: 10px;
  padding-left: 20px;

  @media @desktop {
    height: 125px;
    border-radius: 20px;
    padding-left: 32px;
  }

  & > #balanceTitle {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 20px;

    @media @desktop {
      top: 27px;
    }
  }

  & > #balanceValue {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #FFFBF6;
    top: 44px;

    @media @desktop {
      top: 58px;
    }
  }

  & > .logo {
    position: absolute;
    right: 0;
    height: 40px;
    width: 60px;
    top: 28px;
    right: 24px;

    @media @desktop {
      top: 39px;
      right: 39px;
      height: 48px;
      width: 72px;
    }

    & > .circle {
      height: 100%;
      aspect-ratio: 1;
      border-radius: 50%;

      &.white {
        box-sizing: border-box;
        border: solid 2px white;
        position: relative;
        z-index: 1;
      }

      &.black {
        background-color: #382314;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
      }
    }
  }
}
