@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import './expenses-chart.component.desktop.less';
@import './expenses-chart.component.mobile.less';

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  font-family: 'DM Sans', sans-serif;
}
