@desktop: ~"only screen and (min-width: 540px)";

.container {

  background-color: #FFFBF6;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  height: 421px;
  border-radius: 10px;

  @media @desktop {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 32px;
    height: 511px;
    border-radius: 20px;
  }

  & > h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 52px;

    @media @desktop {
      margin-bottom: 66px;
    }
  }

  & > #spendings_chart {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 177px;
    margin-bottom: 24px;

    @media @desktop {
      height: 178px;
      margin-bottom: 32px;
    }

    .daily-spending {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      gap: 8px;

      & > .spending-bar {
        position: relative;
        background-color: #EC755D;
        border-radius: 5px;
        width: 33px;

        &.current-day {
          background-color: #76B5BC;
        }

        @media @desktop {
          width: 50.36px;

          &:hover {
            background-color: #FF9B86;
            cursor: pointer;

            &.current-day {
              background-color: #B4E0E5;
            }

            & > .spending-value {
              width: 75px;
              height: 40px;
              border-radius: 5px;
              background-color: #382314;
              color: #FFFBF6;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              transform: translateX(-12.32px);
              margin-bottom: 8px;
            }
          }
        }

        & > .spending-value {
          display: none;
        }
      }
    }
  }

  & > hr {
    height: 2px;
    background-color: #F8E9DD;
    border: none;
    margin-bottom: 24px;

    @media @desktop {
      margin-bottom: 32px;
    }
  }

  & > #month_info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    & > #month_variation {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      gap: 1px;
    }
  }

  h5 {
    color: #92857A;
    margin: 0;
  }
}
